<html lang="zh-CN">
    <head>
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <title>Batch Case</title>
    </head>

    <body role="document">
        <!-- 导航栏 -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/project_manage/">AutoTest Engine System</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/project_manage/">项目管理</a></li>
                        <li><a href="/interface_manage/">接口管理</a></li>
                        <li><a href="/field_manage/">字段管理</a></li>
                        <li><a href="/public_rule/">公共规则</a></li>
                        <li><a href="/public_case/">公共用例</a></li>
                        <li><a href="/batch_job/">批次任务管理</a></li>
                        <li class="active"><a href="#">批次用例管理</a></li>
                        <li><a href="/event_manage/">发布会</a></li>
                        <li><a href="/guest_manage/">嘉宾</a></li>
                    </ul>
                      <ul class="nav navbar-nav navbar-right">
                          <li><a href="#">{{ user }}</a></li>
                          <li><a href="/logout/">退出</a></li>
                     </ul>
                </div>
            </div>
        </nav>

        <!-- 批次用例搜索表单 -->
        <div class="page-header" style="padding-top: 60px;">
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form" method="get" action="/search_case/">
                    <div class="form-group">
                        <input name="case_name" type="text" placeholder="用例名称" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">搜索</button>
                </form>
            </div>
        </div>

        <!-- 批次用例列表 -->
        <div class="row" style="padding-top: 80px;">
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>公共用例编号</th>
                            <th>批次任务编号</th>
                            <th>状态</th>
                            <th>请求报文</th>
                            <th>返回报文</th>
                            <th>创建时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for case in cases %}
                            <tr>
                                <td>{{ job.id }}</td>
                                <td>{{ job.public_case_id }}</td>
                                <td>{{ job.job_id }}</td>
                                <td>{{ job.case_status }}</td>
                                <td>{{ job.request_json }}</td>
                                <td>{{ job.response_json }}</td>
                                <th>{{ job.create_time }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 列表分页器 -->
        <div class="paginator">
            <span class="step-links">
                {% if cases.has_previous %}
                    <a href="?page={{ cases.previous_page_number }}">previous</a>
                {% endif %}
                    <span class="current">
                        Page {{ cases.number }} of {{ cases.paginator.num_pages }}.
                    </span>
                {% if cases.has_next %}
                    <a href="?page={{ cases.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </body>
</html>